*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.dark-mode body{
    transition: 0s;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#go-back{
    color: black;
    font-size: 25px;
}

#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#product{
    font-size: 37px;
    text-align: center;
    margin: 20px;
    color: green;
}

.dark-mode #product{
    color: white;
}

#content-product{
    border: 3px solid green;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.dark-mode #content-product{
    border: 3px solid white;
}


#inv-navbar{
    display: block;
    height: 70px;
    width: 100%;
}

#description p{
    text-align: center;
}

#image{
    border-radius: 15px;
    height: 300px;
    width: 300px;
    transition: opacity 0.3s ease;
}

#section2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

#add{
    color: white;
    background-color: green;
    border-radius: 25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    border: none;
}

button:hover{
    cursor: pointer;
}

.buy-dev{
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
}

.dark-mode .buy-dev:hover{
    border: none;
}

.prod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 220px;
    border: 2px solid green;
    border-radius: 15px;
}

.dark-mode .prod {
    border: 2px solid white;
}


/* --------------------  M  ----------------------- */

#section1-1{
    width: 300px;
    height: 300px;
}

#section2-1{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#section1-2{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#section2-1 p{
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
}



/**************************************************/


@media(max-width: 720px){
    #content-product{
        flex-direction: column;
        width: auto;
        gap: 0px;
    }
}

@media(max-width: 525px){
    #section1-1{
        width: 230px;
        height: 230px;
    }
    
    #image{
        width: 230px;
        height: 230px;
    }

    #section2-1{
        gap: 0px;
        height: auto;
    }
}

@media( max-width: 400px){
    #content-product p{
        font-size: 17px;
    }
    #content-product{
        width: 300px;
        margin: 10px;
        padding: 10px;
    }

    .buy-dev{
        width: 200px;
        margin: 0 auto;
    }
    #description{
        display: flex;
        text-align: center;
    }
    #section2 div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #section2-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prod{
        height: 220px;
    }
  }

#container-prod{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin: 10px;
}

#other-prod {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
}

.soon{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}


/**************************************************/

.mini-img{
    height: 65px;
    width: 65px;
    border: 3px solid green;
    border-radius: 10px;
}

.dark-mode .mini-img{
    border: 3px solid white;
}

#container-prod{
    max-width: 1200px;
    margin: 10px;
}

#prod-title{
    font-size: 25px;
    color: green;
    font-weight: bold;
}

.dark-mode #prod-title{
    color: white;
}

#other-prod{
    width: 100%;
    border-top: 3px solid green;
    border-bottom: 3px solid green;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dark-mode #other-prod{
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.dark-mode .prod{
    border: 2px solid white;
}

#footer-container{
    width: 100%;
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#footer-text{
    width: 100%;
    color: white;
    font-size: 15px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.mini{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.transition{
    transition: 0.5;
}

@media(max-width: 350px){
    .soon{
        width: 95px;
        height: 95px;
    }
    .prod{
        width: 110px;
        height: 200px;
    }
}

.pret{
    margin: 0px;
}