*{
    box-sizing: border-box;
}



html, body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#title{
    color: green;
    font-size: 30px;
    font-weight: bold;
}

#game{
    border: 3px solid green;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#description{
    color: green;
    font-size: 17px;
    font-weight: bold;
}

#input1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 15px;
    border: 3px solid green;
    color: green;
    font-weight: bold;
}

#input1:focus{
    outline: none;
}

#content{
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 15px;
}

.goback{
    color: green;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#minigame{
    text-align: center;
    margin-top: 80px;
    color: green;
    font-weight: bold;
    font-size: 22px;
}

/*-------------------------------------*/

footer div{
    width: 100%;
    background-color: green;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 2px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
}

#footer-text{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
    text-align: center;
    font-size: 13px;
}

#input-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#button{
    color: white;
    background-color: green;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font-weight: bold;
}

#button:active {
    transform: scale(0.9);
    transition: 0.1s;
}

@media(max-width: 390px){

    #button{
        padding: 10px;
    }

    #input-container{
        flex-direction: column;
    }
}

@media(min-width: 390px){
    #button{
        padding-left: 20px;
        padding-right: 20px;
    }

    #title{
        font-size: 32px;
    }

    #description, #content{
        font-size: 20px;
    }

}

body.dark-mode{
    background-color: rgb(52, 51, 51);
    transition: 0.5s; 
}

body.dark-mode p{
    color: white;
    transition: 0.5s; 
}

body.dark-mode #title{
    color: white;
}

body.dark-mode #button{
    background-color: white;
    color: black;
}

body.dark-mode #game{
    border: 3px solid white;
}

.dark-mode #input1{
    border: none;
    color: black;
}

body.dark-mode footer div{
    background-color: rgb(42, 41, 41);
}

body.dark-mode #minigame{
    color: white;
}

body.dark-mode .goback{
    color: white;
}

.dark-mode #description, .dark-mode #content{
    color: white;
}